<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Grade List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-nav li.nav-item {
      margin-bottom: 10px;
    }

    .navbar-nav li.nav-item a.nav-link {
      color: #fff;
      font-size: 18px;
      transition: color 0.3s;
    }

    .navbar-nav li.nav-item a.nav-link:hover {
      color: #ffc107; /* Change this color on hover */
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Grading System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ShowCourses}">Show Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ShowGrades}">Show Grades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/showAllStudents}">Show Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/AddCourse}">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/AddGradeToStudent}">Add Grade To Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/AddStudent}">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/RemoveStudent}">Remove Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/AddCourseToStudent}">Add Course To Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/RemoveCourseFromStudent}">Remove Course From Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  <h1>Add Course</h1>
  <form th:action="@{/AddCourse}" method="post">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input type="text" class="form-control" id="courseName" name="courseName">
    </div>
    <button type="submit" class="btn btn-success">Add Course</button>
  </form>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
